*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
  
   
     
}
section{
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}
section ul
{
    display: flex;
    margin-bottom: 10px;
}
section ul li
{
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
section ul li.active
{
    background:#ff0303 ;
    color: #fff;    
}
.product
{
    display: flex;
    flex-wrap: wrap;
}
.product .luxe{
    position:relative;
    width:300px;
    height: 300px;
    margin: 5px;
}
.product .luxe img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}  
.luxe {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.luxe:hover {
    transform: scale(1.1);
}

.luxe img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

  }
  
  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
   
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }
  
  h1#cryst {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #fdfdfd;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    display: block; 
    margin: 0 auto;
  }
  
  button[type="submit"]:hover {
    background-color: #4a4f4a;
  }
  .form-group label{
    display: block;
  font-weight: bold;
  margin-bottom: 5px; 
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

#cryst{
    color: #fff;
}



